@inherits LayoutComponentBase
    <NavMenu />

<main>
    <div class="main-container">
        @Body
    </div>
</main>
<footer>
    <div class="footer-wrap">
        <p>
            Hanin Farhan - Kontakta mig via e-post: <a href="mailto:hafa2300@student.miun.se">hafa2300@student.miun.se</a>
        </p>
    </div>
</footer>

