@page "/convert"

<PageTitle>Konvertering</PageTitle>
<!--
Konvertera meter till fot (feet) - matas exempelvis 2 in för antal meter, ska resultatet visa 6,6 fot (avrunda till två decimaler).
Konvertera km/h till miles/hour - matas exempelvis 100 in för km/h, ska resultatet visa 62 miles/hour (avrunda till heltal).
-->

<div class="convert-wrap">
    <div>
        <label for="meterInput">Meter:</label>
        <input type="number" @bind="@inputMeter" @oninput="ConvertFeet" />

    </div>

    <div>
        <label for="FotInput">Fot:</label>
        <input type="number" @bind="@inputFoot" @oninput="ConvertMeter" />

    </div>
</div>


<div class="convert-wrap">
    <div>
        <label for="km-h">Km/h:</label>
        <input type="number" @bind="@inputKilometres" @oninput="ConvertKilometres" />

    </div>

    <div>
        <label for="miles-h">Miles/h:</label>
        <input type="number" @bind="@inputMiles" @oninput="ConvertMiles" />

    </div>
</div>



@code {
    private double inputMeter = 0;
    private double inputFoot = 0;
    private double footValue = 0.3048;
    private double milesValue = 0.6213711922;
    private double inputMiles = 0;
    private double inputKilometres = 0;


    //Konvertera till meter
    private void ConvertMeter(ChangeEventArgs e)
    {
        inputFoot = double.Parse(e.Value.ToString());
        if (inputFoot > 0)
        {
            inputMeter = Math.Round(inputFoot * footValue, 2);
        }
        else
        {
            inputMeter = 0;
        }
    }

    //Konvertera till foot
    private void ConvertFeet(ChangeEventArgs e)
    {
        inputMeter = double.Parse(e.Value.ToString());
        if (inputMeter > 0)
        {
            inputFoot = Math.Round(inputMeter / footValue, 2);
        }
        else
        {
            inputFoot = 0;
        }

    }

    //Konvertera till Miles/h
    private void ConvertKilometres(ChangeEventArgs e)
    {
        inputKilometres = double.Parse(e.Value.ToString());
        if (inputKilometres > 0)
        {
            inputMiles = Math.Round(inputKilometres * milesValue, 2);
        }
        else
        {
            inputMiles = 0;
        }

    }

    //Konvertera till km/h
    private void ConvertMiles(ChangeEventArgs e)
    {
        inputMiles = double.Parse(e.Value.ToString());
        if (inputMiles > 0)
        {
            inputKilometres = Math.Round(inputMiles / milesValue, 2);
        }
        else
        {
            inputKilometres = 0;
        }

    }
}
