@page "/"

<PageTitle>Startsida</PageTitle>

<h1>Startsida</h1>

<article>
    <h2>Information om lab 1.2</h2>
    <p>Uppgiften går ut på att skapa en enkel webbapplikation i
        Blazor WebbAssembly. Layouten och CSS styling återanvänds från
        lab 1.1. Webbplatsen består av tre undersidor: Startsida, Konvertering
    och Kurser som hämtar kursdata externt med HttpClient.</p>

    <br />

    <h3>Komponent</h3>
    <p>Den valfria komponenten heter TimeComponent och visar datum och tid 
        längst upp till höger på sidan. Komponenten använder sig av en Timer
        och har skapats med hjälp av exempel från <a href="https://stackoverflow.com/questions/68001470/how-can-i-update-the-live-date-time-in-c-sharp-blazor-web-page" target="_blank">StackOverflow.</a>
    </p>
</article>

@code {

}
